[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
rope = "*"
pytest = "*"
click = "*"
pylint = "*"
marshmallow = "*"
requests = "*"
pycryptodome = "*"


[dev-packages]

