[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
rope = "*"
pytest = "*"
click = "*"
pylint = "*"
marshmallow = "==2.20.5"
requests = "*"
pycryptodome = "*"
regex = "*"


[dev-packages]

